@import './color';

body.active{
    overflow: hidden;
}

nav {
    transition: all .3s ease-in-out;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    border-bottom: 1px solid rgba(#f2f2f2, .2);

    .logo {
        a {
            h1 {
                transition: all .3s ease-in-out;
                font-size: 2.5em;
                color: $white;
                letter-spacing: 3px;

                span {
                    color: $fourth;
                }
            }
        }
    }

    .link-nav {
        height: 100%;
        display: flex;
        align-items: center;

        a {
            margin-left: 20px;
            color: $white;
            padding: 27px 0;
            transition: all .3s;
            border-bottom: 2px solid transparent;

            &:hover {
                border-bottom: 2px solid rgba(#f2f2f2, .8);
            }
        }
    }
}

#btnMenu {
    z-index: 1000;
    position: fixed;
    top: 20px;
    right: -10%;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s ease-in-out;

    #lineBurguer {
        width: 20px;
        height: 4px;
        transform: translateX(5px);
        background: $black;
        border-radius: 2px;
        transition: all .5s ease-in-out;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 30px;
            height: 4px;
            margin: 0 auto;
            background: $black;
            border-radius: 2px;
            transition: all .5s ease-in-out;
        }

        &::before {
            transform: translateY(-10px);
        }

        &::after {
            transform: translateY(10px);
        }
    }

    &.open.change {
        .lineBurguer {
            background: transparent;
        }
    }

    &.open {
        background: none;

        #lineBurguer {
            transform: translateX(-30px);
            background: #f2f2f2;
            background: none;
        }

        #lineBurguer::before {
            background: #f2f2f2;
            transform: rotate(45deg) translate(25px, -25px);
        }

        #lineBurguer::after {
            background: #f2f2f2;
            transform: rotate(-45deg) translate(25px, 25px);
        }
    }
}



@media screen and (min-width: 688px) {
    nav {
        &.sticky {
            background: $second;
            border-bottom: none;
            height: 60px;

            .logo {
                a {
                    h1 {
                        font-size: 1.8em;
                    }
                }
            }

            .link-nav {
                a {
                    padding: 0;
                    border-bottom: none;

                    &:hover {
                        color: $red;
                        border-bottom: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 787px) {
    nav {
        padding: 0 30px;

        .logo {
            a {
                h1 {
                    font-size: 1.8em;
                }
            }
        }

        .link-nav {
            a {
                margin-left: 15px;
            }
        }
    }
}

@media screen and (max-width: 687px) {
    nav {
        height: 100vh;
        width: 60%;
        left: -100%;
        background: $second;
        flex-direction: column;
        position: fixed;
        justify-content: flex-start;
        padding: 50px 0;

        .logo {
            a {
                h1 {
                    font-size: 1.8em;
                }
            }
        }

        .link-nav {
            flex-direction: column;
            a{
                border-bottom: none;
                &:hover{
                    border-bottom: none;
                }
            }
        }
        &.active{
            left: 0;
        }

        &.active::before {
            content: '';
            position: absolute;
            top: 0;
            right: -100%;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            background: rgba(#1c2b2d, .8);
            transition: .3s ease-in-out;
        }
    }

    #btnMenu {
        z-index: 5;
        right: 20px;

        #lineBurguer::before,
        #lineBurguer::after {
            right: 0;
        }

        &.btnActive {
            right: -10%;

            #lineBurguer::before,
            #lineBurguer::after {
                right: -100%;
            }
        }
    }
}